.list__buttons button{
    margin: 5px;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
tbody td{
    height: 60px;
}

.list__table--content th{
    height: 70px;
}
.list__table--content th{
    width: 400px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
