<ng-template #content let-c="close" let-d="dismiss">


  <div class="modal-header card text-white bg-primary mb-3">
    <h4 class="modal-title" id="modal-basic-title">Planeta {{tittle}}</h4>
    
  </div>
  <div class="modal-body">
    <table class="table table">
      
      <tbody>
        <tr>
          <th>Gravedad</th>
          <td>{{gravity}}</td>
        </tr>
        <tr>
          <th>Clima</th>
          <td>{{climate}}</td>
        </tr>
        <tr>
          <th>Diametro</th>
          <td>{{diameter}}</td>
        </tr>
        <tr>
          <th>Terreno</th>
          <td>{{terrain}}</td>
        </tr>
        <tr>
          <th>Habitantes</th>
          <td>{{population}}</td>
        </tr>
        <tr>
          <th>Creacion</th>
          <td>{{created}}</td>
        </tr>
        <tr>
          <th>Rotacion</th>
          <td>{{rotation}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="close btn btn-lg btn-outline-primary" aria-label="Close" (click)="d('Cross click')">
      Volver
    </button>

  </div>
</ng-template>


<button class="btn btn-outline-primary" (click)="open(content)">Ver mas</button>