.addNew{    
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.addNew__card{
    width: fit-content;
    height: min-content;
    padding: 30px;
    border-radius: 10px;

}

.addNew__card__form {
    width: 30rem;
}

.addNew__card__form  button{
    width: -webkit-fill-available;
    margin-top: 10%;
}

.result__main{
    padding: 20px;
    
    
}

.result__card{
    padding: 20px;
    border-radius: 10px;
    width: 20vw;
}

.result__card tr{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

.result__card td{
    color: #eb6964;
    font-weight: 700;
    font-size: larger;
}

.result__card--data{
    display: flex;
    justify-content: space-between;
}