<!-- Estructura Agregar planetas -->
<div class="addNew">
    <div class="addNew__card card">
        <div class="addNew__card__tittle">
            <h1>Nuevo Planeta</h1>
        </div>

        <div class="addNew__card__form">
            <form (submit)="addPlanet(name, gravity, climate)">
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Nombre</label>
                    <input type="text" class="form-control" placeholder="Hoth" #name id="inputDefault">
                    <label class="col-form-label mt-4" for="inputDefault">Gravedad</label>
                    <input type="text" class="form-control" placeholder="1" #gravity id="inputDefault">
                    <label class="col-form-label mt-4" for="inputDefault">Clima</label>
                    <input type="text" class="form-control" placeholder="Frozen" #climate id="inputDefault">
                </div>
                <button class="btn btn-lg btn-primary btn-block">
                    Agregar
                </button>
            </form>
        </div>
    </div>

    <!-- Estructura mostrar planetas -->
    <div class="result">
        <div class="result__main" *ngFor="let planet of localPlanets">
            <div class="result__card card">                
                <tbody>
                    <tr>
                        <th><h1>Planeta</h1></th>
                        <td>{{planet.name |uppercase}}</td>
                    </tr>
                    <hr/>
                    <div class="result__card--data">
                        <tr>
                            <th>Gravedad</th>
                            <td>{{planet.gravity |uppercase}}</td>
                        </tr>
                        <tr>
                            <th>Clima</th>
                            <td>{{planet.climate |uppercase}}</td>
                        </tr>
                    </div>                    
                </tbody>
            </div>
        </div>
    </div>








</div>